<body>

    <div *ngIf="isOrganizer" class="text-gray-700 mb-5 mt-10">
        <div class="text-base font-bold">The interval between sending messages (sec)</div>
        <label class="text-green-500">
            &#10022; You can set a time interval in which you can send messages to this chat</label><br>
        <input [(ngModel)]="currentLatency" type="number" 
        class="w-20 pl-3 rounded-md border-0 py-1 text-gray-900
        shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400
        focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"/>
        <span> seconds</span>
        <button (click)="changeLatency()" 
        class="w-12 ml-2 items-center text-center rounded-md bg-white px-3 py-2 
      text-sm font-bold text-gray-500 shadow-sm ring-1 ring-inset 
      ring-gray-300 hover:bg-gray-200 
      hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 
      focus-visible:outline-offset-2
      rounded focus:outline-none transition duration-200 ease-in-out 
      active:bg-gray-300">OK
    </button>
    </div>

    <div class="flex flex-col h-full mt-10">
        <div class="flex-grow overflow-y-auto max-h-410 scrollbar-thin scrollbar-thumb-gradient">
            <div *ngFor="let message of messages" [ngClass]="{ 
            'bg-gray-100 flex-row': message.user.id === currentUser.id, 
            'bg-gray-200 flex-row-revesrse': message.user.id !== currentUser.id }"
                class="p-2 mb-2 rounded-md max-w-lg">
                <div *ngIf="message.user.id === currentUser.id" 
                class="font-bold text-green-500">You</div>
                <div *ngIf="message.user.id !== currentUser.id" 
                class="font-bold text-green-500">
                    {{ message.user.username }}</div>
                <span class="text-sm text-gray-400">{{ message.createdAt | date : "MMM d, h:mm a" }}</span>
                <div class="text-gray-700">"{{ message.message }}"</div>
            </div>
        </div>
        <div class="flex items-center max-w-lg">
            <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" class="block w-full pl-3 rounded-md border-0 py-1.5 text-gray-900
            shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
            focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
            <button (click)="sendMessage()" class="font-bold text-gray-700 text-sm hover:text-pink-400 ml-4"
                [disabled]="newMessage === ''">Send</button>
        </div>

    </div>

</body>

<!-- <div class="chat-container">
    <div class="messages-container" #chatContainer>
        <div *ngFor="let message of messages" class="message"
            [ngClass]="{ 'currentUser': message.user.id === currentUser.id, 'otherUser': message.user.id !== currentUser.id }">
            <div class="message-header" *ngIf="message.user.id === currentUser.id">
                Вы
            </div>
            <div class="message-header" *ngIf="message.user.id !== currentUser.id">
                {{ message.user.username }}
            </div>
            <span class="message-date">{{
                message.createdAt | date : "MMM d, h:mm a"
                }}</span>
            <div class="message-content">{{ message.message }}</div>

        </div>
    </div>
    <div class="input-container">
        <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" class="input-field" />
        <button mat-button (click)="sendMessage()" class="send-button" [disabled]="newMessage === ''">
            Отправить
        </button>
    </div>

    <div *ngIf="isOrganizer" class="latency-main">
        <div>Определите секундный интервал отправки 1 сообщения</div>
        <input [(ngModel)]="currentLatency" type="number" class="latency" />
        <span> секунд</span>
        <button mat-button (click)="changeLatency()" class="latency-button">ОК</button>
    </div>
</div> -->