<app-header></app-header>

<mat-card class="user-profile-card">
    <mat-card-title>Привет, <span class="username">{{ currentUser.username }}</span>!</mat-card-title>

    <div class="main">
        <mat-card-content class="inputs">
            <div class="info">
                <p matTooltip="{{ currentUser.username }}"><span class="aux">Имя:</span> {{ currentUser.username | ellipsis: 20 }}</p>
                <p><span class="aux">Почта:</span> {{ currentUser.email }}</p>
                <p><span class="aux">День рождения:</span> {{ currentUser.bday | date : "MMM d - YYY"}}</p>
                <p class="age-message">{{ageMessage}}</p>
            </div>
            
            <mat-form-field>
                <mat-label>Имя</mat-label>
                <input matInput [(ngModel)]="currentUser.username" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Почта</mat-label>
                <input matInput [(ngModel)]="currentUser.email" type="email" email>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput [(ngModel)]="currentUser.password" type="password">
            </mat-form-field>

            <p class="age-message">
                {{message}}
            </p>
            <button mat-raised-button (click)="updateUser()">Сохранить</button>
        </mat-card-content>

        <app-user-rating class="rate"></app-user-rating>
    </div>
</mat-card>