.moving-button {
  transition: transform 10s linear;
}

.moving-button:hover {
  transform: translateX(10px);
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

.invisible {
  display: none;
}

.navbar-button {
  @apply text-gray-500 hover:text-white hover:font-medium rounded-md focus:text-white focus:font-medium px-20 py-2 text-sm font-medium;
}

.img {
  @apply h-full w-full object-cover object-center lg:h-full lg:w-full
}