<body>
  <nav>
    <div class="mx-auto sm:px-6 lg:px-8 relative">
      <div #navbarContainer class="flex h-12 justify-between overflow-x-auto">

        <div class="arrow-left flex items-center justify-center text-gray-400 hover:text-gray-500 absolute left-0 top-0 bottom-0 ml-2" (click)="scrollLeft()">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </div>

        <div class="arrow-right flex items-center justify-center text-gray-400 hover:text-gray-500 absolute right-0 top-0 bottom-0 mr-2" (click)="scrollRight()">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </div>

        <div class="flex flex-1 justify-between"> 
          <button class="text-gray-500 font-bold
          hover:bg-indigo-400 
          hover:text-white hover:font-bold rounded-md focus:bg-indigo-400 
          focus:text-white focus:font-bold
          px-20 py-2 text-sm" aria-current="page" (click)="loadAllEvents()">All</button>

          <button *ngFor="let category of categories" [(ngModel)]="category.id"
            (click)="filterEventsByCategory(category.id)" 
            class="navbar-button hover:bg-green-400 focus:bg-green-400">{{category.title | ellipsis: 15}}</button>

          <button *ngFor="let format of formats" [(ngModel)]="format.id" 
          (click)="filterEventsByFormat(format.id)"
            class="navbar-button hover:bg-pink-400 focus:bg-pink-400">{{format.title}}</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="pt-20 md:pt-13 mx-auto flex flex-wrap flex-col md:flex-row items-center justify-between">
    <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden font-bold">
      <p class="my-4 text-3xl md:text-10xl text-indigo font-bold leading-tight text-center md:text-left">
        What kind of
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
          event
        </span>
        are you looking for?
      </p>
      <p class="leading-normal text-base md:text-lg mb-8 text-center md:text-left text-green-500">
        &#10022; Use the filter to make it easier to find an event
      </p>

      <form class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-blue-300 py-2 font-bold mb-2" for="emailaddress">
            Filters
          </label>
          <input class="shadow appearance-none border rounded w-full p-3 text-gray-700 
            leading-tight focus:ring transform transition hover:scale-105 duration-300 
            ease-in-out" id="location" type="text" placeholder="location" [(ngModel)]="locationFilter" />
          <button (click)="openFilter()" class="mt-6">More filter</button>
          <div *ngIf="isFilter">
            <div class="sm:col-span-2 sm:col-start-1">
              <!-- COUNTRY -->
              <div class="mt-2">
                <label for="country" class="block text-sm font-bold leading-6 text-blue-300">Country</label>
                <select name="country" id="country" autocomplete="country" (click)="showCitiesByCountry()"
                  [(ngModel)]="countryId" class="shadow appearance-none border rounded w-full p-3 text-gray-700 
                 leading-tight focus:ring transform transition">
                  <option value="Select country" disabled selected>Select country</option>
                  <option *ngFor="let country of countries" [value]="country.id">
                    {{country.countryName}}
                  </option>
                </select>
              </div>
            </div>

            <!-- CITY -->
            <div class="sm:col-span-2">
              <div class="mt-2">
                <label for="city" class="block text-sm font-bold leading-6 text-blue-300">City</label>
                <select name="city" id="city" (click)="showCountryByCity()" [(ngModel)]="cityId" class="shadow appearance-none border rounded w-full p-3 text-gray-700 
                 leading-tight focus:ring transform transition">
                  <option value="" disabled selected>Select city</option>
                  <option *ngFor="let city of cities" [value]="city.id">{{city.cityName}}</option>
                </select>
                <label class="text-gray-300 text-xs font-medium">{{cityText}}</label>
              </div>
            </div>

            <!-- DATE -->
            <div class="sm:col-span-2">
              <div class="mt-2">
                <div class="sm:col-span-2 sm:col-start-1">
                  <label for="startDate" class="block text-sm font-bold leading-6 text-blue-300">Start Date</label>
                  <input type="datetime-local" id="startDate" name="startDate" class="block flex-1 border-0 bg-white rounded-sm py-1.5 pl-1 text-gray-600
                  placeholder:text-blue-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="startDateFilter">
                </div>
                <div class="sm:col-span-2">
                  <label for="endDate" class="block text-sm font-bold leading-6 text-blue-300">End Date</label>
                  <input type="datetime-local" id="endDate" name="endDate" class="block flex-1 border-0 bg-white rounded-sm py-1.5 pl-1 text-gray-600 
                  placeholder:text-blue-400 focus:ring-0 sm:text-sm sm:leading-6" [(ngModel)]="endDateFilter">
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-between pt-4">
            <button
              class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
              type="button" (click)="applyFilters()">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="flex justify-end">
    <div class="mx-auto max-w-2xl py-8 sm:py-8 lg:max-w-7xl">
      <p class="text-2xl font-bold tracking-tight text-indigo-400">More events</p>

      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div *ngFor="let event of events; let i = index" (click)="redirectToEvent(event.id)">

          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 
            lg:aspect-none group-hover:opacity-75 lg:h-80">
            <img src="{{images[event.id]}}" class="img" alt="Loading...">
          </div>

          <div class="mt-4 flex justify-between font-bold text-pink-400">
            <div>
              <p class="text-gray-500 text-2xl font-bold">
                {{event.title}}
              </p>
              <span *ngIf="locationDetails && locationDetails[i]">{{ locationDetails[i].cityName}}</span>,
              <span *ngIf="locationDetails && locationDetails[i]">{{ locationDetails[i].countryName }}</span>
            </div>
            <p aria-hidden="true" class="text-2xl text-green-400 inset-4">
              {{event.startDate | date :"MMM d - h:mm a"}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>