/* .main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-info {
  text-align: center;
  margin-right: 20px; 
}

.subinfo {
  text-align: left;
}

.username {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #bec92e;
}

.email {
  font-size: 16px;
  color: #777;
}

app-user-rating {
  text-align: center;
  width: 600px;
  margin-left: 10%;
}

mat-icon {
  font-size: 26px;
  color: #2c2c2c58;
}

p {
  font-weight: lighter;
  color: #2c2c2c;
  margin: 2;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 100%;
} */
