<form>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Happyning</mat-card-title>
            <mat-card-subtitle>Рады вас снова видеть!</mat-card-subtitle>
          </mat-card-header>
          <mat-form-field>
            <mat-label>Пользователь</mat-label>
            <input matInput [(ngModel)]="username" name="username" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput [(ngModel)]="password" name="password" required>
          </mat-form-field>
          <div class="error">{{errorMessage}}</div>
        <button mat-button (click)="checkCredentials()">Вход</button>
    </mat-card>
</form>