<mat-toolbar class="header" id="scroll-header">
  <a href="/home" class="logo">Happyning</a>
  <div class="buttons">
    <button mat-icon-button (click)="openNotifications()" *ngIf="!isAdmin">
      <span *ngIf="notificationCount !== 0; else allRead" matBadge="{{notificationCount}}" matBadgeSize="small">
        <mat-icon>notifications</mat-icon>
      </span>
      <ng-template #allRead>
        <mat-icon>notifications</mat-icon>
      </ng-template>
    </button>

    <button mat-icon-button routerLink="/home" *ngIf="!isAdmin"><mat-icon>home</mat-icon></button>
    
    <button mat-icon-button routerLink="/editor" *ngIf="!isAdmin"><mat-icon>mode</mat-icon></button>
    <button mat-icon-button class="menu" [matMenuTriggerFor]="menu" >
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile" *ngIf="!isAdmin">Профиль</button>
      <button mat-menu-item (click)="areYouSure()">Выйти</button>
    </mat-menu>
  </div>
</mat-toolbar>

<ng-container *ngIf="showNotifications" class="notifications-container">
  <div class="notifications-overlay" (click)="closeNotifications()"></div>
  <mat-card class="notifications">
    <app-notification [notifications]="notifications" (markAsRead)="markAsRead($event)"></app-notification>
  </mat-card>
</ng-container>