.event-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

.message {
    margin-bottom: 10px;
    color: rgb(99, 16, 16);
}

button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2c2c2c46;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

h2 {
    color: #2c2c2c;
}

.participants {
    background-color: #ffffff;
    font-weight: 20;
    overflow-x: auto;
    white-space: nowrap;
    height: 120px;
}

.participants::-webkit-scrollbar {
    width: 5px;
}

.participants::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.participants::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #d6e4e8, #D2DE32);
}
