<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="background-image: url('');">
  <div class="h-full">
    <app-header></app-header>
  </div>
  <hr class="mt-6 mb-6">
  <div>
    <div class="px-4 sm:px-0">
      <div class="flex justify-between">
        <p class="main-title">{{event.title}}</p>
        <button *ngIf="!isOrganizer" (click)="openComplaintDialog()" class="text-pink-500 font-bold text-lg">🛇</button>
      </div>
      <img *ngIf="image" src="{{image}}" class="img" alt="Loading...">
      <p class="message" *ngIf="isMessage">{{message}}</p>
      <p class="hint">This event is available to persons
        <span class="font-bold text-lg text-pink-400">{{event.ageLimit}}+</span>
      </p>
    </div>

    <div *ngIf="isComplaint" class="bg-pink-100 rounded-md mb-5 shadow-sm p-2 max-w-md items-center text-pink-500">
      <p class="text-pink-500 font-bold text-lg">Is there something wrong with this event?</p>
      <label class="text-gray-500">&#10022; You can submit a complaint, which will be reviewed by the
        moderator.</label><br>
      <label class="mt-3">Select a violation category</label>
      <div class="flex">
        <select id="categorySelect" name="category" autocomplete="category-title" [(ngModel)]="complaint"
          class="base-select">
          <option *ngFor="let cat of complaintsCategory" [value]="cat.id">{{cat.title}} {{cat.description}}
          </option>
        </select>

        <button (click)="sendComplaint()" class="ml-3 font-bold text-lg">Send</button>
      </div>
    </div>

    <app-event-registration></app-event-registration>
    <div class="mt-10">
      <p class="base-title">Event information</p>
      <div class="border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
          <div class="row-div">
            <dt class="base-title-2">Title</dt>
            <dd class="base-title-3">{{ event.title }}</dd>
          </div>
          <div class="row-div">
            <dt class="base-title-2">Address</dt>
            <dd class="base-title-3">
              {{ location.details }} - {{ city.cityName }} - {{ country.countryName }} </dd>
          </div>
          <div class="row-div">
            <dt class="base-title-2">Date</dt>
            <dd class="base-title-3">From
              <span class="text-green-500">{{ event.startDate | date :"MMM d YYYY - h:mm a" }}</span> To
              <span class="text-green-500">{{ event.endDate | date :"MMM d YYYY - h:mm a"}}</span>
            </dd>
          </div>
          <div class="row-div">
            <dt class="base-title-2">About</dt>
            <dd class="base-title-3">
              {{ event.description | ellipsis: 100}}
            </dd>
          </div>

          <div class="row-div">
            <dt class="base-title-2">Organizer</dt>
            <dd class="base-title-3">{{ organizer.username }}
              <br><span class="text-gray-500 text-xs">You can view the organizer's </span>
              <button class="base-button" (click)="navigateToUserProfile(organizer.id)">
                profile</button>
            </dd>
          </div>

          <div class="row-div">
            <dt class="base-title-2">Category</dt>
            <dd class="base-title-3">{{ category.title }}:
              <span class="text-pink-400">{{ category.description }}</span>
            </dd>
          </div>
          <div class="row-div">
            <dt class="base-title-2">Format</dt>
            <dd class="base-title-3">{{ format.title }},
              <span class="text-blue-400">{{ format.description }}</span>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true" *ngIf="isOverlayVisible">
    <div>
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
            <div class="pointer-events-auto relative w-screen max-w-md">
              <div class="absolute left-0 top-0 -ml-8 flex pr-2 pt-4 sm:-ml-10 sm:pr-4">
                <button type="button" (click)="closeOverlay()"
                  class="relative rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>

              <div class="flex h-full flex-col bg-white py-6 shadow-xl">
                <div class="px-4 sm:px-6" *ngIf="isSecretCode">
                  <div class="flex self-start inline-flex">
                    <p class="base-title">This event is private</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" viewBox="0 0 24 24" stroke-width="3">
                      <path fill="#4b5563"
                        d="M19,8.424V7A7,7,0,0,0,5,7V8.424A5,5,0,0,0,2,13v6a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V13A5,5,0,0,0,19,8.424ZM7,7A5,5,0,0,1,17,7V8H7ZM20,19a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3Z" />
                      <path d="M12,14a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V15A1,1,0,0,0,12,14Z" />
                    </svg>
                  </div>
                  <p class="base-title-3">To access it, you need to enter a secret code</p>
                  <input type="text" [(ngModel)]="enteredCode" placeholder="Enter the code" class="base-input">
                  <button class="base-button ml-2" (click)="onOverlaySubmit()">Submit</button>
                </div>
                <div class="px-4 sm:px-6" *ngIf="isAgeLimit">
                  <p class="base-title">Sorry! You are too young to attend this event!</p>
                  <p class="main-title">Limit: {{event.ageLimit}}+</p>
                </div>
                <div class="relative mt-6 flex-1 px-4 sm:px-6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>