<app-header></app-header>
<div class="main">
  <app-report class="reports"></app-report>

  <div class="side-components">
    <mat-card class="users">
      <div class="search">ID
        <input [(ngModel)]="searchValue" class="search-input" type="number" min="0">
        <button mat-icon-button (click)="applyFilter(searchValue)" class="search-button"><mat-icon>search</mat-icon></button>
      </div>
      <div class="user-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Email</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button mat-button (click)="deleteUser(user.id)" class="main-button">Удалить</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </mat-card>

    <mat-card class="categories">
      <mat-card-header>Редактор категорий</mat-card-header>
      <mat-card-subtitle>* По умолчанию категория 'Без категории'</mat-card-subtitle>
      <div *ngFor="let category of categories">
        <mat-card-content matTooltip="{{category.title}} - {{category.description}}">
          {{category.id}}. {{category.title | ellipsis: 20}}
          <p>Количество привязанных событий: {{ categoryEventCounts[category.id] || 0 }}</p>
        </mat-card-content>
        <div *ngIf="isEditing && selectedCategory.id === category.id">
          <input [(ngModel)]="selectedCategory.title" name="title" placeholder="Название" required>
          <input [(ngModel)]="selectedCategory.description" name="description" placeholder="Описание">
        </div>
        <button mat-button (click)="updateCategory(category.id)" class="main-button">Редактировать</button>
        <button mat-button (click)="deleteCategory(category.id)" class="main-button">Удалить</button>
      </div>

      <div *ngIf="!isEditing">
          <input [(ngModel)]="selectedCategory.title" name="title" placeholder="Название" required>
          <input [(ngModel)]="selectedCategory.description" name="description" placeholder="Описание">
        <button mat-button (click)="createCategory()" class="main-button">Создать</button>
      </div>
    </mat-card>

  </div>
</div>