<body>
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
      <div class="text-center">
        <p class="text-base font-semibold text-pink-400">404</p>
        <p class="mt-4 text-4xl font-bold tracking-tight text-gray-700">This page is not available</p>
        <p class="mt-6 text-base leading-7 text-gray-600">Sorry, this page is intended for users with a different role.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/login"
            class="rounded-md bg-pink-400 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-pink-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-pink-600">Go
            back</a>
          <a href="https://github.com/keumul" class="text-sm text-gray-700">Contact support <span
              aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
    </main>
  </body>