form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

mat-card {
    width: 300px;
    padding: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    color: #2C2C2C;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

mat-card-title {
    font-size: 24px;
    font-weight: 500;
    color: #D2DE32;
}

mat-card-subtitle {
    font-size: 14px;
    font-weight: 100;
    color: #a7a899;
}

mat-card-header {
    margin-bottom: 16px;
}


button {
    background-color: #D2DE32;
    color: white;
    font-weight: 20;
}

input {
    color: #2C2C2C;
    width: auto;
}

mat-datepicker {
    width: 80%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

mat-form-field {
    font-size: 14px;
    font-weight: 50;
    color: #2C2C2C;
    width: 80%;
}

.success {
    color: green;
    font-size: 12px;
    font-weight: 50;
}

.error {
    color: red;
    font-size: 12px;
    font-weight: 50;
}