<form *ngIf="!isLogin">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Happyning</mat-card-title>
            <mat-card-subtitle>Добро пожаловать!</mat-card-subtitle>
        </mat-card-header>
        <mat-form-field>
            <mat-label>Пользователь</mat-label>
            <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Дата рождения</mat-label>
            <input matInput [(ngModel)]="bday" name="bday" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker">-
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="error">{{errorMessage}}</div>
        <div class="success">{{successMessage}}</div>
        <button mat-button (click)="registerUser()">Зарегистрироваться</button>
    </mat-card>
</form>

<app-login *ngIf="isLogin"></app-login>