<div class="mt-10 mb-10">
  <p *ngIf="events" class="text-sm text-gray-400">You are the organizer</p>
  <div *ngIf="myevents === null || myevents!.length === 0">
    <p class="font-bold text-base">No events.</p>
  </div>
  <button *ngFor="let event of myevents" (click)="redirectToEvent(event.id)"
  class="flex flex-col items-start justify-start text-gray-600 ring-1 ring-gray-200 
  rounded-md p-2 mb-2 w-96">
    <span class="text-base text-indigo-400 font-bold">{{ event.title | ellipsis: 15 }}</span>
    <div class="flex items-center">
      <div>
        <span>From </span>
        <span class="text-green-500">{{ event.startDate | date :"MMM d - h:mm a"}}</span>
      </div>
      <div class="ml-2">
        <span>to </span>
        <span class="text-green-500">{{ event.endDate | date :"MMM d - h:mm a"}}</span>
      </div>
    </div>
  </button>

  <div *ngIf="events === null || events!.length === 0">
    <p>No events.</p>
  </div>
<div class="mt-8">
  <p *ngIf="events" class="text-sm text-gray-400">You are the participant</p>
  <button *ngFor="let event of events" (click)="redirectToEvent(event.eventId)"
    class="flex flex-col items-start justify-start text-gray-600 ring-1 ring-gray-200 rounded-md p-2 mb-2 w-96">
    <span class="text-base text-indigo-400 font-bold">{{ event.event.title | ellipsis: 15 }}</span>
    <div class="flex items-center">
      <div>
        <span>From </span>
        <span class="text-green-500">{{ event.event.startDate | date :"MMM d - h:mm a"}}</span>
      </div>
      <div class="ml-2">
        <span>to </span>
        <span class="text-green-500">{{ event.event.endDate | date :"MMM d - h:mm a"}}</span>
      </div>
    </div>
  </button>
</div>
  <div *ngIf="selectedEvent">
    <p>Selected Event: {{ selectedEvent.title }}</p>
  </div>
</div>